
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff4e6;
  color: #2b2b2b;
}
header {
  background: #f96c5c;
  color: white;
  padding: 1em;
  text-align: center;
}
#lang-switcher {
  position: absolute;
  top: 1em;
  right: 1em;
}
#lang-switcher button {
  background: #ffd24c;
  border: none;
  margin-left: 5px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 6px;
}
.cart, section {
  padding: 1em;
}
button.pay-btn {
  background: #ff6666;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
